<!-- our room -->
      <div  class="our_room" id="rooms">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our rooms</h2>
                     <p>Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>

            <div class="row">
            
               <%# <% @hotels.each do |hotel| %>
               <div class="card">
               <div class="col-md-4 col-sm-6 d-flex ">
                  <div id="serv_hover"  class="room">

                     <div class="room_img">
                        
                     </div>

                    
                     <div class="bed_room">
                        
                     </div>

                  </div>
               </div>
               </div>
                  <%# <% end %>
               
              
            </div>
         </div>
      </div>
<!-- end our room -->