
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">

        <div class="card-body">
          <h2 class="card-title"> Room_ID : <%= @room.id %></h2>
          <h4 class="card-title"> RoomType : <%= @room.room_type %></h4>

          <h6 class="card-text"> RoomRent : <%= @room.price %> </h6>
          <%# <a href="#" class="btn btn-primary">Add Rooms</a> %>

        
        </div>
      </div>
    </div>

